
.feature-block-0 {
    width: 100px;
    height: 100px;
    float: left;
    background-color: hsl(228, 50%, 88.0%);
}

.feature-block-1 {
    width: 100px;
    height: 100px;
    float: left;
    background-color: hsl(228, 50%, 88.0%);
}

.feature-block-2 {
    width: 100px;
    height: 100px;
    float: left;
    background-color: hsl(228, 50%, 88.0%);
}

.feature-block-3 {
    width: 100px;
    height: 100px;
    float: left;
    background-color: hsl(228, 50%, 88.0%);
}
