
.feature-block-0 {
    width: 100px;
    height: 100px;
    float: left;
    background-color: hsl(228, 50%, 47.2%);
}

.feature-block-1 {
    width: 100px;
    height: 100px;
    float: left;
    background-color: hsl(228, 50%, 59.199999999999996%);
}
