table {
    width: 100%;
    border-spacing: 0;
}

.feature-head {
    width: 75px;
    height: 75px;
}

.feature-body {
    width: 75px;
    height: 75px;
    text-align: center;
    background-color: orange;
}

/* Generated */

${fill_me}
