table {
    width: 100%;
    border-spacing: 0;
}

.feature-head {
    width: 75px;
    height: 75px;
}

.feature-body {
    width: 75px;
    height: 75px;
    text-align: center;
    background-color: orange;
}

/* Generated */


.feature-body.f1-0 {
    background-color: hsl(228, 50%, 40%);
}
.feature-body.f2-0 {
    background-color: hsl(228, 50%, 76.0%);
}
.feature-body.f3-0 {
    background-color: hsl(8, 70%, 40.0%);
}
.feature-body.f4-0 {
    background-color: hsl(8, 70%, 76.0%);
}
.feature-body.f5-0 {
    background-color: hsl(8, 70%, 100.0%);
}

.feature-body.f1-1 {
    background-color: hsl(228, 50%, 40%);
}
.feature-body.f2-1 {
    background-color: hsl(228, 50%, 76.0%);
}
.feature-body.f3-1 {
    background-color: hsl(8, 70%, 40.0%);
}
.feature-body.f4-1 {
    background-color: hsl(8, 70%, 76.0%);
}
.feature-body.f5-1 {
    background-color: hsl(8, 70%, 100.0%);
}

