body {
    font-family: sans-serif;
}

table {
    width: 100%;
    border-spacing: 0;
}

.feature-head {
    width: 85px;
    height: 85px;
    /*text-align: center;*/
    font-weight: normal;
}

.feature-body {
    width: 85px;
    height: 85px;
    text-align: center;
    background-color: orange;
}

/* Generated */


.feature-body.f1-0 {
    background-color: hsl(228, 50%, 56.8%);
    color: hsl(228, 50%, 56.8%);
}
.feature-body.f2-0 {
    background-color: hsl(8, 70%, 41.2%);
    color: hsl(8, 70%, 41.2%);
}
.feature-body.f3-0 {
    background-color: hsl(228, 50%, 55.6%);
    color: hsl(228, 50%, 55.6%);
}
.feature-body.f4-0 {
    background-color: hsl(8, 70%, 49.599999999999994%);
    color: hsl(8, 70%, 49.599999999999994%);
}
.feature-body.f5-0 {
    background-color: hsl(8, 70%, 41.2%);
    color: hsl(8, 70%, 41.2%);
}

.feature-body.f1-1 {
    background-color: hsl(8, 70%, 92.79999999999998%);
    color: hsl(8, 70%, 92.79999999999998%);
}
.feature-body.f2-1 {
    background-color: hsl(228, 50%, 94.0%);
    color: hsl(228, 50%, 94.0%);
}
.feature-body.f3-1 {
    background-color: hsl(8, 70%, 66.39999999999999%);
    color: hsl(8, 70%, 66.39999999999999%);
}
.feature-body.f4-1 {
    background-color: hsl(8, 70%, 64.0%);
    color: hsl(8, 70%, 64.0%);
}
.feature-body.f5-1 {
    background-color: hsl(8, 70%, 96.4%);
    color: hsl(8, 70%, 96.4%);
}

.feature-body.f1-2 {
    background-color: hsl(228, 50%, 54.4%);
    color: hsl(228, 50%, 54.4%);
}
.feature-body.f2-2 {
    background-color: hsl(228, 50%, 58.0%);
    color: hsl(228, 50%, 58.0%);
}
.feature-body.f3-2 {
    background-color: hsl(8, 70%, 83.2%);
    color: hsl(8, 70%, 83.2%);
}
.feature-body.f4-2 {
    background-color: hsl(8, 70%, 42.400000000000006%);
    color: hsl(8, 70%, 42.400000000000006%);
}
.feature-body.f5-2 {
    background-color: hsl(228, 50%, 96.4%);
    color: hsl(228, 50%, 96.4%);
}

.feature-body.f1-3 {
    background-color: hsl(8, 70%, 86.8%);
    color: hsl(8, 70%, 86.8%);
}
.feature-body.f2-3 {
    background-color: hsl(8, 70%, 62.79999999999999%);
    color: hsl(8, 70%, 62.79999999999999%);
}
.feature-body.f3-3 {
    background-color: hsl(8, 70%, 58.0%);
    color: hsl(8, 70%, 58.0%);
}
.feature-body.f4-3 {
    background-color: hsl(8, 70%, 62.79999999999999%);
    color: hsl(8, 70%, 62.79999999999999%);
}
.feature-body.f5-3 {
    background-color: hsl(228, 50%, 90.4%);
    color: hsl(228, 50%, 90.4%);
}

