
.column.xs-one.feature-1 {background-color: rgb(255, 0, 0); color: rgb(255, 0, 0);}

.column.xs-one.feature-2 {background-color: rgb(200, 55, 0); color: rgb(200, 55, 0);}

.column.xs-one.feature-3 {background-color: rgb(100, 155, 0); color: rgb(100, 155, 0);}

.column.xs-one.feature-4 {background-color: rgb(55, 200, 0); color: rgb(55, 200, 0);}

.column.xs-one.feature-5 {background-color: rgb(0, 255, 0); color: rgb(0, 255, 0);}
